/*start Up-bar*/

@media (min-width: 320px) and (max-width: 767px) {
  .navbar-nav {
    display: block;
    float: right;
  }
  .navbar-nav a.nav-link {
    color: #666 !important;
  }
  .navbar-nav a.nav-link:hover {
    background-color: #ccc;
    color: #fff !important;
    transition: 0.8s ease-in-out;
  }
}

/*end Up-bar*/
/* start Logo*/
@media (min-width: 320px) and (max-width: 991px) {
  .mon-form,
  .call_us {
    display: none;
  }
  .mini_card a {
    font-size: 35px !important;
  }
}

/* End Logo*/
