/*start Up-bar*/
@media (min-width: 320px) and (max-width: 1100px) {
  .
}
@media (max-width: 991px) {
  .Mon_logo .mon-form .mon-select {
    width: 41%;
    font-size: 14px;
    text-align: center;
    height: 40px;
  }
  .Mon_logo .mon-form {
    display: none;
  }
  .mon-form,
  .call_us {
    display: none;
  }
  .booNavigation {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .navbar-nav {
    border: 1px solid #ccc;
    background-color: #fff;
  }

  .navbar-nav a.nav-link {
    color: #666;
    padding: 0 20px;
  }
  .navbar-nav a.nav-link:hover {
    background-color: #ccc;
    color: #fff;
    transition: 0.8s ease-in-out;
  }
  .navbar-nav .nav-item {
    padding: 0;
  }
  .navbar-expand-md .navbar-collapse {
    position: absolute;
    right: 0px;
    top: 40px;
  }
}

/*end Up-bar*/
/* start Logo*/
@media (max-width: 767px) {
  .mini_card a {
    font-size: 35px;
  }
  
  
}

/* End Logo*/
