/* start middle Nav-bar*/
@media (max-width: 1100px) {
  /*lo 3aez el toggle tzhar m3 a5tfa2 7aga tanya/// and// a5rk t5fy l7d 1100*/
  .Mon_logo .mon-form {
    display: none;
  }
  .mon-form,
  .call_us {
    display: none;
  }
  .booNavigation {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}
@media (min-width: 992px) {
  .booNavigation li.navItem .custom-nav {
    right: 16rem;
  }
}

/* start middle Nav-bar*/

@media (max-width: 767px) {
  .mini_card a {
    /*Mini card icon*/
    font-size: 35px;
    padding: 0 8px;
  }
  /* start Mobile Links*/
  .navbar-nav a.nav-link:hover {
    background-color: #ccc;
    color: #fff;
    transition: 0.8s ease-in-out;
  }
  .navbar-nav {
    border: 1px solid #ccc;
    background-color: #fff;
  }
  .navbar-nav .nav-item {
    padding: 0;
  }
  .navbar-nav a.nav-link {
    color: #666;
    padding: 0 20px;
  }
  .navbar-expand-md .navbar-collapse {
    position: absolute;
    right: 0px;
    top: 40px;
  }
  /* start carousel*/

  .slider .carousel-item .content-text a {
    font-size: 8px;
  }
  /* end carousel*/
  /* start products*/
  .products .products-title {
    margin: 0;
  }
  .products-title h3 {
    font-size: 21px;
  }
  .products-title .line {
    display: none;
  }
  /* end products*/
  /* start popup*/
  .box-model {
    width: 100%;
  }
  /* end popup*/
}
